html,
body {
 min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Verdana, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-page {
  background-color: #9d8b84;
  background-color: #8996a6;
  background-color: #849d8f;

  background-image: url(../img/slider-1.png);
  background-repeat: no-repeat;
  background-position: center 0;
}

/*--- Кнопки ---*/

.button {
  display: inline-block;
  padding: 10px 24px 11px 22px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-image: linear-gradient(to top, #ca3824, #f26843);
  border-radius: 23px;
  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
}

.button:hover {
  color: #fefefe;

  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  box-shadow: 0px 1px 2px 0 #ac1000;
}

.button:active {
  color: #fceeec;

  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  box-shadow: inset 0px 2px 2px 0 #942718;
}

.button-slider {
  display: inline-block;
  padding: 10px 41px;


  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button-slider:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-slider:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* мой вариант
.button-slide {
  padding: 11px 43px 11px 41px;

  font-size: 32px;
  font-weight: 700;
  line-height: 43px;

  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 32px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button-slide:hover {
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  box-shadow: 0px 2px 2px 0 #ac1000;
}

.button-slide:active {
  color: #fceeec;

  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  box-shadow: inset 0px 2px 2px 0 #942718;
}
*/

.button-product {
  display: none;

  padding: 10px 17px;
}

.product__link:hover + .button-product {
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

/*--- header ---*/

.main-header-column {
  display: flex;
  flex-direction: column;

  width: 1146px;
}

.main-header-first-line {
  display: flex;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-top: 9px;
  margin-right: 9px;
}

.main-navigation {
  margin-top: 23px;
}

.wrapper-main-navigation {
  display: flex;
  flex-wrap: wrap;

    max-width: 700px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation ul,
.user-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__link {
  display: block;

  padding: 7px 14px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
    vertical-align: bottom;
  color: #ffffff;

  border-radius: 16px;
}

.main-navigation__link:hover,
.main-navigation__link:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.main-navigation__link:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.main-navigation-current > a {
  color: #ffffff;

  background-color: #d07058;
}

.main-navigation__item {
  position: relative;
}

.main-navigation__item::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 14px;

  width: calc(100% - 28px);
  height: 1px;

  box-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

.main-navigation-current::after {
   display: none;
}

.main-havigation__item--submenu:hover  .catalog-submenu,
.main-havigation__item--submenu:focus  .catalog-submenu {
  display: block;
}

.main-havigation__item--submenu {
  position: relative;

  padding-bottom: 18px;
}

.catalog-submenu {
  display: none;
  position: absolute;
  left: -7px;
  top: 37px;
  z-index: 1;

  width: 143px;
  min-height: 171px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-submenu li:nth-child(2) {
  box-shadow: 0 -7px 0 -6px rgba(0, 0, 0, 0.2);
}

.catalog-submenu__link {
  display: block;
  padding: 6px 20px;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.catalog-submenu__link:first-child {
  margin-top: 5px;
}

.submenu-novelty {
  display: block;

  font-weight: 700;
}

.catalog-submenu__link:hover,
.catalog-submenu__link:focus {
  background-color: #fbded7;
}

.catalog-submenu__link:active {
  background-color: #f6b5a5;
}

.catalog-submenu .submenu-current {
  color: #ffffff;

  background-color: #d07058;
}

.user-navigation {
  margin-top: 23px;
  margin-left: auto;
}

.wrapper-user-navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.wrapper-user-navigation li:not(:last-child) {
  margin-right: 10px;
}

.search {
  position: relative;
  padding-bottom: 15px;
}

.search__link {
  /*position: relative;*/
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  padding: 5px 6px 7px 5px;

  color:  #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search__link:hover,
.search__link:focus {
  color: #000000;

  background-color: #f8f7f4;
}

.search__link:hover path,
.search__link:focus path {
  fill: #000000;
}

.search__form {
  display: none;
  position: absolute;
  top: 38px;
  right: 0;

  width: 341px;
  height: 84px;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search__form input[type="search"] {
  width: 311px;
  height: 44px;
  padding: 8px 15px;

  font: inherit;
/*font-size: 14px;
  font-weight: 400;
  line-height: 24px;*/
  color:  #323232;

  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.search__form input:hover {
  padding: 7px 14px;

  border: solid 2px rgba(154, 154, 154, 0.52);
}

.search__form input:focus {
  outline: none;

  padding: 7px 14px;

  border: solid 2px rgba(46, 136, 228, 0.52);
}

.search:hover .search__form {
  display: block;
}

.login {
  position: relative;
  padding-bottom: 13px;
}

.login-submenu {
  display: none;
  position: absolute;
  top: 38px;
  right: 0;

  z-index: 1;
}

.login:hover .login-submenu {
  display: block;
}

.login__link svg,
.cart__link svg {
  margin-right: 7px;
}

.login__link,
.cart__link,
.cart__link-add {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px 17px 7px 15px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color:  #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.login__link {
  padding: 6px 16px 7px 16px;
}

.cart__link-add {
  color: #323232;

  background-color: #f8f7f4;
}

.login__link:hover,
.login__link:focus,
.cart__link:hover,
.cart__link:focus {
  color: #000000;

  background-color: #f8f7f4;
}

.login__link:hover path,
.login__link:focus path,
.cart__link:hover path,
.cart__link:focus path,
.cart__link:hover circle,
.cart__link:focus circle {
  fill: #000000;
}

.cart__link-add:hover .red {
  fill: #e84d37;
}

.login-form {
  width: 277px;
  min-height: 214px;
  padding: 20px 17px 2px 19px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-form p {
  margin: 0;
  margin-bottom: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 241px;
  height: 44px;
  padding: 8px 15px;

  font: inherit;
  color:  #323232;

  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.login-form input:hover {
  padding: 7px 14px;

  border: solid 2px rgba(154, 154, 154, 0.52);
}

.login-form input:focus {
  outline: none;

  padding: 7px 14px;

  border: solid 2px rgba(46, 136, 228, 0.52);
}

.login-item {
  margin: 0;
  padding: 0;

  list-style: none;
}

.button-login {
  float: left;

  margin-right: 20px;

  border: none;
}

.login-item-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;

  box-shadow: 0 1px rgba(50, 50, 50, 0.3);
}

.login-item-link:hover,
.login-item-link:active {
  color: #e84d37;

  box-shadow: 0 1px rgba(232, 77, 55, 0.3);
}

.cart {
  position: relative;
  padding-bottom: 13px;
}

.cart:hover .cart-submenu {
  display: block;
}

.cart-submenu {
  display: none;
  position: absolute;
  top: 38px;
  right: 0;

  width: 539px;
  min-height: 242px;
  padding: 16px;
  padding-right: 13px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

  z-index: 1;
}

.submenu-table {
  width: 100%;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;

  border-collapse: collapse;
}

.submenu-table td {
  padding-right: 9px;
  padding-bottom: 18px;

  vertical-align: center;
  text-align: left;
}

.submenu-table tr:last-child {
  border-bottom: 1px solid #cacac7;
}

.col-1 {
  width: 20px;
}

.col-2 {
  width: 47px;
}

.col-3 {
  width: 242px;
}

.col-4 {
  width: 121px;
}

.col-5 {
  width: 69px;
}

.cross-small {
  width: 11px;
  height: 11px;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/svg/cross-small.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}

.submenu-table span {
  color: #999999;
}

.table-total {
  margin-top: 14px;
  margin-bottom: 14px;

  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #323232;

  caption-side: bottom;
  text-align: right;
}

.button-table {
  float: right;
  min-width: 170px;
  padding-left: 14px;
  padding-right: 15px;
}

.working-hours {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-bottom: 4px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}

.phone {
  margin: 0;
  padding: 0;
  margin-left: auto;

  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}

/*--- Слайдер ---*/
.container-slider {
  justify-content: center;
}

.slider {
  align-items: flex-start;
  position: relative;

  padding-top: 275px;
  margin-bottom: 41px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.slider-toggle {
  display: flex;
  position: absolute;
  bottom: 21px;
  left: -223px;
  z-index: 20;

  font-size: 0;
  margin: 0;
  padding: 0;

  list-style: none;
}

.toggle {
  width: 21px;
  height: 21px;
  margin-right: 8px;

  background-color: transparent;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.toggle:hover,
.toggle:focus {
  background-color: #ffffff;
}

/*
.slider-title {
  position: absolute;
  bottom: 135px;
  left: 197px;
    transform: translate(-50%, -50%);

  width: 670px;
  margin: 0;
  padding: 0;

  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

.slider-toggle {
  position: absolute;
  bottom: 40px;
  left: -38px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.button-big {
  position: absolute;
  bottom: 40px;
  left: 395px;
}
*/

.promo {
  margin-bottom: 34px;
}

.promo-item {
  position: relative;

  width: 560px;
  min-height: 229px;
  padding: 17px 20px;
  padding-left: 19px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.button-middle {
  position: absolute;
  bottom: 23px;
  right: 21px;
}

.promo-item-left {
  background-image: url(../img/promo-1.jpg);
}

.promo-item_right {
  background-image: url(../img/promo-2.jpg);
}

.promo-title,
.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.promo-text {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
}

.container-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1200px;
  margin: 0 auto;
  padding: 0 14px;
}

.product-item {
  position: relative;

  width: 293px;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 14px;
  margin-bottom: 32px;
}

.product-item img {
  position: relative;
}

.main-page .product-item::after {
  content: "";
  position: absolute;
  top:  6px;
  left: 13px;
  z-index: 3;

  width: 61px;
  height: 61px;

  background-image: url(../img/hit.png);
  background-repeat: no-repeat;
  background-position: center;
}

.product-price-value {
  position: absolute;
  top: 215px;
  left: 13px;

  margin: 0;
  padding: 0;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.ruble {
  font-size: 42px;
  font-weight: 500;
}

.product-price-unit {
  font-size: 30px;
}

.product-text {
  position: relative;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}

.product__link {
  position: relative;
  display: inline-block;
    vertical-align: middle;

  margin-top: 8px;

  text-align: center;
  color: #ffffff;
}

.product__link .product-text {
  display: inline;

  box-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.product__link:hover,
.product__link:active {
  color: #ffbc9e;
}

.product__link .product-text:hover {
  box-shadow: 0 1px rgba(255, 188, 158, 0.3);
}

.button-product {
  display: none;
  position: absolute;
  bottom: -62px;
  left: 46px;

  padding: 10px 17px;
}

.product-item:hover .button-product {
  display: block;
  z-index: 2;
}

.product-item:hover.product-item::before {
  content: "";
  position: absolute;
  top:  0;
  left: 0;
  z-index: 1;

  width: 293px;
  height: calc(100% + 77px);

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.product-item:hover img,
.product-item:hover .product__link,
.product-item:hover .product-text,
.product-item:hover .product-price-value {
  z-index: 2;
}

.features {
  width: 1146px;
  min-height: 306px;
  margin-bottom: 40px;
  margin-top: 6px;
  padding: 24px 20px;
  padding-right: 28px;
  padding-bottom: 0;

  background-color: #e4d4a5;
  background-image: url(../img/waffle.png);
  background-repeat: repeat;
  border-radius: 15px;
}

.features-title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

.features-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-text li {
  position: relative;

  width: 532px;
  padding-left: 56px;

  padding-bottom: 20px;
}

.features-text li::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;

  width: 49px;
  height: 49px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-text .features-ice-cream::before {
  background-image: url(../img/svg/ice-cream.svg);
}

.features-text .features-cow::before {
  background-image: url(../img/svg/cow.svg);
}

.features-text .features-eco::before {
  background-image: url(../img/svg/eco.svg);
}

.features-text .features-thermometer::before {
  background-image: url(../img/svg/thermometer.svg);
}

.wrapper-article {
  margin-bottom: 40px;
}

.blog-preview {
  width: 560px;
  min-height: 220px;
  padding-left: 20px;
  padding-top: 24px;

  background-color: #ffffff;
  background-image: url(../img/article.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog-preview-text {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
}

.blog-preview-title {
  display: inline-block;

  width: 300px;
}

.blog-preview-title h4 {
  display: inline;
/*  position: relative;*/

  margin: 0;
  padding: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #323232;

  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 -2px 0 0 #323232;
}
/*
.blog-preview-title h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;

  height: 2px;
  width: 100%;

  box-shadow: 0 2px #323232;
}
*/

.subscription {
  display: flex;

  width: 560px;
  min-height: 220px;

  background-color: #ffffff;
  background-image: repeating-linear-gradient(135deg,
    #f8f7f4 0px, #f8f7f4 7px, #92cdff 7px,
    #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px,
    #ff9e90 21px, #ff9e90 28px);
  border-radius: 15px;
}

.subscription-back {
  position: relative;

  width: 549px;
  margin: 4px 5px 5px 6px;
  padding: 29px 21px 30px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscription-text {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;

  color: #5a5a5a;
}

.subscription-form input[type="email"] {
  width: 368px;
  height: 44px;
  padding: 8px 13px;

  font: inherit;
  color:  #323232;

  background-color: #ffffff;
  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.subscription-form input:hover {
  padding: 7px 14px;

  border: solid 2px rgba(154, 154, 154, 0.52);
}

.subscription-form input:focus {
  outline: none;

  padding: 7px 14px;

  border: solid 2px rgba(46, 136, 228, 0.52);
}

.button-subscription {
  position: absolute;
  bottom: 36px;
  right: 21px;

  max-width: 129px;

  border: none;
}

.contacts {
  position: relative;
}

.contacts img {
  display: block;

  height: 430px;
  margin: 0 auto;
}

.contacts iframe {
  position: absolute;
  width: 100%;
  height: 430px;

  border: 0;

  z-index: 1;
}

.wrapper-contacts {
  position: relative;
}

.wrapper-contacts::before {
  content: "";
  position: absolute;
  bottom: 151px;
  left: 266px;

  width: 80px;
  height: 140px;

  background-image: url(../img/svg/pin.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts-field {
  position: absolute;
  top: -367px;
  right: 27px;

  width: 302px;
  min-height: 305px;
  padding: 28px 25px 30px 25px;

  background-color: #ffffff;
  border-radius: 15px;

  z-index: 2;
}

.contacts-field p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #323232;
}

.contacts-field p:nth-child(2) {
  margin-bottom: 2px;
}

.contacts-field p:nth-child(3) {
  margin-bottom: 16px;
}

.contacts-field p:nth-child(4) {
  margin-bottom: 6px;
}

.contacts-field p:nth-child(6) {
  margin-bottom: 26px;
}

.contacts-field .contacts-main {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.button-contacts {
  width: 100%;
  padding: 10px 26px;
}

/*--- Стили для внутренней страницы ---*/

.container-inner {
  flex-direction: column;
}

.container-inner {
  position: relative;
  top: -22px;
  margin-bottom: 11px;
}

.container-inner .page-title {
  margin-bottom: 26px;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;

  margin: 0;
  padding: 0;
  margin-bottom: 2px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs-previous a::after {
  content: "»";
  position: absolute;
  top: 4px;
  right: -13px;

  color: #ffffff;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;

  box-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.breadcrumbs-current {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;

  box-shadow: 0 1px rgba(255, 188, 158, 0.3);
}

/*-- Стилизация полей формы --*/

.filters-first-line,
.filters-second-line {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;

  margin-bottom: 17px;
}

.filters-second-line {
  margin-bottom: 0;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  list-style: none;

  border: none;
}

.filters ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-select,
.filter-range,
.filters fieldset {
  margin-right: 15px;
}

.filter-select-title,
.filter-range-title,
.filters legend {
  padding: 0;
  margin: 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}

.filter-select-title {
  margin-bottom: 6px;
  margin-left: 16px;
}

.select-item {
  width: 194px;
  height: 35px;
  padding: 7px 22px 8px 11px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 16px;
}

.select-item option {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #343434;

  background-color: #ffffff;
}

/*--- работает по умолчанию
.filters-select option[selected] {
  color: #ffffff;

  background-color: #1e90ff;
}
*/

.filter-range {
  width: 218px;
}

.filter-range-title {
  margin-bottom: 6px;
  margin-left: 14px;
}

.range-controls {
  padding: 16px 21px 15px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.range-controls .scale {
  position: relative;

  width: 176px;
  height: 4px;

  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 107px;
  height: 4px;
  margin-left: 20px;

  background-color: #f8f7f4;
}

.range-toggle {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  background-color: #849d8f;
  border: 8px solid #f8f7f4;
  border-radius: 50%;

  cursor: pointer;
}

.range-toggle-min {
  left: 13px;
}

.range-toggle-max {
  left: 111px;
}

.filters legend {
  margin-bottom: 6px;
  margin-left: 15px;
}

.filter-fat label,
.filter-complement label {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.filters-fieldset {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;

  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-fat,
.filter-complement {
  padding: 7px 9px;
}

.filter-fat:first-child {
  padding-left: 14px;
}

.filter-fat:last-child {
  padding-right: 16px;
}

.filter-complement:first-child {
  padding-left: 16px;
}

.filter-complement:last-child {
  padding-right: 14px;
}

.radio-indicator + label {
  position: relative;

  padding-left: 32px;

  cursor: pointer;
}

.radio-indicator + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 22px;
  height: 22px;

  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.radio-indicator:hover + label::before,
.radio-indicator:focus + label::before {
  border-color: #ffffff;
}

.radio-indicator:disabled + label::before {
  border-color: rgba(255, 255, 255, 0.4);
}

.radio-indicator:checked + label::after {
  content: "";

  position: absolute;
  top: calc(50% - 4px);
  left: 7px;

  width: 8px;
  height: 8px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.radio-indicator:checked:hover + label::after,
.radio-indicator:checked:focus + label::after {
  background-color: #ffffff;
}

.radio-indicator:disabled + label::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.checkbox-indicator + label {
  position: relative;

  padding-left: 32px;

  cursor: pointer;
}

.checkbox-indicator + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 21px;
  height: 21px;

  background-image: url(../img/svg/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.checkbox-indicator:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 26px;
  height: 21px;

  background-image: url(../img/svg/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.checkbox-indicator:hover + label::before,
.checkbox-indicator:focus + label::before,
.checkbox-indicator:checked:hover + label::before,
.checkbox-indicator:checked:focus + label::before {
  opacity: 1;
}

.checkbox-indicator:disabled + label::before,
.checkbox-indicator:checked:disabled + label::before {
  opacity: 0.4;
}

.filter-complement {
  margin-right: 3px;
}

.button-filter {
  margin-top: auto;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  min-width: 144px;
  min-height: 37px;
  border: solid 2px #ffffff;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.2)
}

.button-filter:hover,
.button-filter:focus {
  color: #323232;

  background-color: #ffffff;
}

.button-filter:active {
  border: none;
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.wrapper-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;

  margin-bottom: 80px;
}

.pagination-list.container {
  justify-content: flex-end;

  position: relative;
  top: -31px;

  margin-bottom: 0;

  list-style: none;
}

.pagination-item a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 26px;
  height: 26px;
  margin-right: 3px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  border-radius: 13px;
}

/*
.pagination-item:last-of-type a {
  margin-right: 12px;
}
*/

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-back,
.pagination-item-next {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 8px;
  height: 26px;
  margin-left: 14px;
}

.pagination-item-back {
  margin-right: 15px;
}

.pagination-item-back {
  transform: scale(-1, 1);
}

.pagination-item-next path {
   fill: #ffffff;
}

/*--- footer ---*/

.main-footer {
  padding-top: 18px;
  margin-bottom: 29px;

  box-shadow: 0 -1px rgba(255, 255, 255, 0.3);
}

.footer-social {
  padding-top: 17px;
}

.footer-menu {
  padding-top: 13px;
}

.social-button-list,
.footer-menu ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 185px;
  margin: 0 auto;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 38px;
  height: 38px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:hover path,
.social-button:focus path {
  fill: #ffffff;
}

.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:active path {
  fill: #e9e9e9;
}

.footer-menu ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 304px;
  margin: 0 auto;
}

.footer-menu li:nth-child(odd) {
  width: 140px;
}

.footer-menu li:nth-child(even) {
  width: 160px;
}

.footer-menu a {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;

  box-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.footer-menu a:hover,
.footer-menu a:active,
.copyright .academy:hover,
.copyright .academy:active {
  color: #ffbc9e;

  box-shadow: 0 1px rgba(255, 188, 158, 0.3);
}

.footer-menu .footer-menu-love {
  position: relative;

  font-weight: 700;
}

.footer-menu .footer-menu-love::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;

  width: 15px;
  height: 13px;

  background-image: url(../img/svg/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.copyright p {
  margin: 0;
  padding: 0;

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #fefefe;
}

.copyright a {
  text-decoration: underline;
  color: #fefefe;
}

/*--- modal-feedback
.button-contacts:active .modal-feedback {
  display: block;
} ---*/

.modal {
  position: fixed;
  z-index: 100;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.modal-feedback {
  display: none;

  top: 337px;
  left: 50%;

  width: 478px;
  min-height: 443px;
  padding: 20px 25px 27px;
  margin-left: -239px;
}

.modal-show {
  display: block;
}

@keyframes shake {
  0%, 100%                {transform: translateX(0);    }
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80%      {transform: translateX(10px); }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.modal-close {
  position: absolute;
  top: 17px;
  right: 17px;

  width: 18px;
  height: 17px;

  font-size: 0;

/*background-image: url(../img/svg/cross-big.svg);
  background-repeat: no-repeat;
  background-position: center;*/
  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 6px;
  right: -2px;

  width: 21px;
  height: 3px;

  background-color: #323232;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-feedback h3 {
  margin: 0;
  margin-bottom: 18px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

.feedback-form p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form input[type="text"],
.feedback-form textarea {
  height: 44px;
  padding: 8px 15px;

  font: inherit;
  color: #323232;

  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.feedback-form input[type="text"] {
  width: 267px;
}

.feedback-form textarea {
  width: 428px;
  height: 155px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  padding: 7px 14px;

  border: solid 2px rgba(154, 154, 154, 0.52);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;

  padding: 7px 14px;

  border: solid 2px rgba(46, 136, 228, 0.52);
}

.modal-feedback .button {
  border: 0;
}
